USE [master]
GO
/****** Object:  Database [Dorm]    Script Date: 7/27/2017 12:00:48 AM ******/
CREATE DATABASE [Dorm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dorm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2\MSSQL\DATA\Dorm.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Dorm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER2\MSSQL\DATA\Dorm_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dorm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dorm]
GO
/****** Object:  Table [dbo].[Desc]    Script Date: 7/27/2017 12:00:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Desc](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Desc] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 7/27/2017 12:00:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[id] [int] NOT NULL,
	[RoomNumber] [int] NOT NULL,
	[RoomType] [int] NOT NULL,
 CONSTRAINT [PK_rooms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SignUp]    Script Date: 7/27/2017 12:00:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SignUp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[contact] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[House] [varchar](50) NOT NULL,
	[Street] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Province] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[status] [int] NULL,
	[fname] [varchar](50) NULL,
	[lname] [varchar](50) NULL,
	[code] [varchar](20) NULL,
 CONSTRAINT [PK_SignUp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SignUp] ON 

INSERT [dbo].[SignUp] ([Id], [Username], [password], [contact], [email], [House], [Street], [City], [Province], [Country], [role], [status], [fname], [lname], [code]) VALUES (5, N'asingh01', N'1234', N'4379897008', N'avneet216@yahoo.co.in', N'4 Bankwell Avenue', N'Ontario', N'Toronto', N'Ontario', N'Canada', N'Student', 0, N'Avneet', N'Singh', N'M1G 2R3')
INSERT [dbo].[SignUp] ([Id], [Username], [password], [contact], [email], [House], [Street], [City], [Province], [Country], [role], [status], [fname], [lname], [code]) VALUES (6, N'admin01', N'1234', N'4379897008', N'avneet089@gmail.com', N'4 Bankwell Avenue, Scarborough', N'Scarborough', N'Toronto', N'Ontario', N'Canada', N'Admin', 2, N'Admin', N'Singh', N'M1G 2R3')
SET IDENTITY_INSERT [dbo].[SignUp] OFF
USE [master]
GO
